body{
    background-color: #010416;
    color: blanchedalmond ;
    
}
nav *{
    border-bottom: rgb(110, 28, 216) solid 3px;
    color: blanchedalmond;
    align-items: flex-end;
}
nav h1 {
    
    text-align: center;
    font-size: xx-large;

}

.input{
   
    margin-left: 35%;
    width: fit-content;
  
    align-self: center;
    align-content: center;
    text-align: center;
  
}

input{
    
    /* background: transparent; */
    border-radius:30%;
    font-size:25px;
    text-align: center;
    margin: 4px;
    width: 50px;
    height: 50px;
}
